* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

ul, li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20;
}